<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="Autotext SDK Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Variables d'environnement si besoin -->
    </php>
</phpunit>
